<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-header col-xs-4 col-sm-3 col-md2 col-lg-2">
        <a class="navbar-band" href="#" style="margin-top: 10px">
            <img src="css/images/TungstenNetworkTaglineLockupLogo_H100.png" class="resize-logo">
        </a>
    </div>

    <!-- Navbar links -->
    <div class="navbar-collapse collapse" style="padding:5px" id="navbar">

        <ul class="nav navbar-nav">
            <li ng-repeat="link in navctrl.actions" class="{{link.type == 'group' ? 'dropdown' : ''}}">
                <a ng-if="link.type !== 'group'" href="{{link.url}}">{{link.title}}</span></a>
                <a ng-if="link.type == 'group'" href="{{link.url}}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{link.title}}<span class="caret"></span></a>
                <ul ng-if="link.type == 'group'" class="dropdown-menu" aria-labelledby="about-us">
                    <li ng-repeat="sublink in link.group"><a href="{{sublink.url}}">{{sublink.title}}</a></li>
                </ul>
            </li>

            <!--<li has-permission="SYSTEM PROPERTIES, WRITE"><a href="#" >Logging</a></li>-->
            <!--<li ng-show="main.hasPermission('SYSTEM PROPERTIES, WRITE')"><a href="#">Registry Manager</a></li>-->
        </ul>

        <form class="navbar-form navbar-right">
            <div class="form-group">
                <span class="white-colored">{{main.user.displayName}}</span>
            </div>
            <a class="btn btn-danger" href="/logout"><span class="glyphicon glyphicon-off"></span> Logout</a>
        </form>

    </div>
</div>