<div>
    <div class="pane left">
        <div id="systemProperties">
                <div ng-repeat="(k,v) in syspropertiesData" >
                    <label>{{v.key}}</label><input type="text" ng-model="syspropertiesData[k].value">
                </div>
        </div>
        <div id="archiveProperties"></div>
        <div id="deliveryProperties"></div>
        <div id="mail"></div>
        <div id="file"></div>
        <div id="thresholdValues"></div>
    </div>

    <div class="pane right">
        <div id="inOutFrequencies"></div>
        <div id="rifComposing"></div>
        <div id="notifications"></div>
        <div id="directories"></div>
        <div id="configurationCache"></div>
    </div>

    <button ng-click="save(syspropertiesData)">Save changes for {{thisApp}}</button>
</div>