/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

body {
    padding: 10px;
}

table {
    margin-top: 10px;
    border-collapse: collapse;
    width: 100%;
}

th {
    text-align: left;
    border-bottom: 2px solid #ddd;
    padding: 8px;
}

td {
    border-top: 1px solid #ddd;
    padding: 8px;
}

.pane {
    border:1px
}

.pane .left {
    padding-right: 200px;
}

.pane .right {
    padding-left: 100px;
}

label {
    width: 200px;
    text-align: right;
}