/* app css stylesheet */

.pane {
    border:1px
}

.pane .left {
    padding-right: 200px;
}

.pane .right {
    padding-left: 100px;
}

label {
    width: 200px;
    text-align: right;
}

.white-colored {
    color: #f7f7f7;
}

img.resize-logo {
    padding-top:5px;
    height: 60px;
    width: auto;
}

body {
    background: #ecf0f1;
    height: 100%;
    padding-top: 70px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.request-action {
    width: 420px;
}

.bs-loading-container {
    position: relative;
    margin-top: 15px;
}