<div class="panel panel-default">
    <div class="panel-heading"> Cache Clean </div>
    <div class="panel-body">
        <button class="btn btn-primary" ng-click="requestsCtrl.cacheClean('all')">Update All Caches</button>
        <button class="btn btn-primary" ng-click="requestsCtrl.updateClientMaps()">Update Maps Configuration Cache</button>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading"> Table of smth </div>
    <div class="panel-body">

    </div>
</div>