<div class="panel panel-default">
    <div class="panel-heading"> Repeating File Delivery </div>
    <div class="panel-body">
        <form>
            <div class="form-group form-inline">
                <label>File Name:</label>
                <input type="text" class="form-control" id="senderObxInput" ng-model="search.fileName">
            </div>
            <div class="form-group form-inline">
                <label>Client OBX Identifier(s):</label>
                <input type="text" class="form-control" id="buyerObxInput" ng-model="search.clientObxId">
            </div>
            <div class="form-group form-inline">
                <label>Client Name:</label>
                <input type="text" class="form-control" id="buyerFileIdInput" ng-model="search.clientName">
            </div>
            <div class="form-group form-inline">
                <label>Date From:</label>
                <input type="date" class="form-control" id="dateFrom" ng-model="search.dateFrom">
                <label>To:</label>
                <input type="date" class="form-control" id="dateTo" ng-model="search.dateTo">
            </div>
            <button class="btn btn-primary" ng-click="requestsCtrl.updateRepeatingFileDelivery(search)">Search</button>
        </form>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading"> Repeating File Delivery Search Result </div>
    <div class="panel-body">
        <div ng-if="requestsCtrl.repeatingFileDeliveryData.length > 0">
            <table class="table table-fixed table-striped table-hover">
                <tr>
                    <th><input type="checkbox"></th>
                    <th>Receiver Id</th>
                    <th>Receiver Name</th>
                    <th>File Id</th>
                    <th>File Name</th>
                    <th>File Date</th>
                </tr>
                <tr ng-repeat="dataItem in requestsCtrl.repeatingFileDeliveryData">
                    <td><input type="checkbox" ng-model="dataItem.selected"></td>
                    <td>{{dataItem.receiverId}}</td>
                    <td>{{dataItem.receiverName}}</td>
                    <td>{{dataItem.outputFileId}}</td>
                    <td>{{dataItem.outputFileName}}</td>
                    <td>{{dataItem.fileDate}}</td>
                </tr>
            </table>
            <button class="btn btn-primary" ng-click="requestsCtrl.resendRepeatingFileDelivery(requestsCtrl.repeatingFileDeliveryData)">Resend</button>
        </div>
        <div ng-if="requestsCtrl.repeatingFileDeliveryData.length == 0">Nothing found</div>
    </div>
</div>