<div class="pane">
    <div class="pane left">
        <div id="systemProperties"> System Properties
            <div><label>Unknown Client´s delivery:</label> <input type="text" ng-model="syspropertiesMap['UNKNOWN CLIENTS EMAIL']"></div>
            <div><label>Time limit to run Exec:</label> <input type="text" ng-model="syspropertiesMap['RUNNING APPLICATION']"></div>
            <div><label>Platform identifier:</label> <input type="text" ng-model="syspropertiesMap['PLATFORM ID']"></div>
            <div><label>Root directory for payload file service:</label> <input type="text" ng-model="syspropertiesMap['I.PAYLOAD_FILE_SERVICE_ROOT_DIR']"></div>
            <div><label>Directory for storing archived payloads:</label> <input type="text" ng-model="syspropertiesMap['I.PAYLOAD_FILE_SERVICE_ARCHIVE_DIR']"></div>
            <div><label>Image Expiration Period:</label> <input type="text" ng-model="syspropertiesMap['IMAGE_EXPIRATION_PERIOD']"></div>
        </div>
        <div id="archiveProperties"></div>
        <div id="deliveryProperties"></div>
        <div id="mail"> Mail
            <div><label>Email from:</label> <input type="text" ng-model="syspropertiesMap['EMAIL FROM']"></div>
            <div><label>Email Reply-to:</label> <input type="text" ng-model="syspropertiesMap['EMAIL REPLY-TO']"></div>
        </div>
        <div id="file"> File
            <div><label>Input file maximum size:</label> <input type="text" ng-model="syspropertiesMap['INPUT_FILE_SIZE_MAX']"></div>
        </div>
        <div id="thresholdValues">
            <label>RF threshold value:</label><input type="text" ng-model="syspropertiesMap['I.RF_THRESHOLD_VALUE']">
        </div>
    </div>

    <div class="pane right">
        <div id="inOutFrequencies">
            <div><label>Time limit to run Pre-Processor:</label> <input type="text" ng-model="syspropertiesMap['RUNNING PRE-PROCESSOR']"></div>
        </div>
        <div id="rifComposing">
            <div><label>Time limit to run Post-Processor:</label> <input type="text" ng-model="syspropertiesMap['RUNNING POST-PROCESSOR']"></div>
        </div>
        <div id="notifications">
            <div><label>History period:</label> <input type="text" ng-model="syspropertiesMap['HISTORY PERIOD']"></div>
        </div>
        <div id="directories">
            <div><label>Rules directory:</label> <input type="text" ng-model="syspropertiesMap['RULES DIRECTORY']"></div>
        </div>
        <div id="configurationCache">
            <div><label>Configuration cache size:</label> <input type="text" ng-model="syspropertiesMap['CACHE SIZE']"></div>
            <div><label>Configuration cache timeout:</label> <input type="text" ng-model="syspropertiesMap['CACHE TIMEOUT']"></div>
        </div>
    </div>

    <button ng-click="save(syspropertiesMap)">Save changes</button>
</div>