<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading"> System Properties</div>
            <div class="panel-body">
                <div class="form-group form-inline">
                    <label class="control-label">Unknown Client´s delivery:</label> <input class="form-control" type="text" ng-model="syspropertiesMap['IP.UNKNOWN CLIENTS EMAIL']"></div>
                <div class="form-group form-inline">
                    <label class="control-label">Time limit to run Exec:</label> <input class="form-control" type="text" ng-model="syspropertiesMap['IP.RUNNING APPLICATION']" uib-datepicker-popup="HH:mm:ss"></div>
                <div class="form-group form-inline">
                    <label class="control-label">Platform identifier:</label> <input class="form-control" type="text" ng-model="syspropertiesMap['IP.PLATFORM ID']"></div>
            </div>
        </div>

        <div id="archiveProperties"></div>
        <div id="deliveryProperties"></div>

        <div class="panel panel-default">
            <div class="panel-heading"> Mail </div>
            <div class="panel-body">
                <div class="form-group form-inline">
                    <label class="control-label">Email from:</label> <input class="form-control" type="text" ng-model="syspropertiesMap['IP.EMAIL FROM']"></div>
                <div class="form-group form-inline">
                    <label class="control-label">Email Reply-to:</label> <input class="form-control" type="text" ng-model="syspropertiesMap['IP.EMAIL REPLY-TO']"></div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading"> File </div>
            <div class="panel-body">
                <div class="form-group form-inline">
                    <label class="control-label">Input file maximum size:</label> <input class="form-control" type="text" ng-model="syspropertiesMap['IP.INPUT_FILE_SIZE_MAX']"></div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Checking new Input and Output frequencies</div>
            <div class="panel-body">
                <div class="form-group form-inline">
                    <label class="control-label">Time limit to run Pre-Processor:</label> <input class="form-control" type="text" ng-model="syspropertiesMap['IP.RUNNING PRE-PROCESSOR']" uib-datepicker-popup="HH:mm:ss"></div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Directories</div>
            <div class="panel-body">
                <div class="form-group form-inline"><label class="control-label">Rules directory:</label> <input class="form-control" type="text" ng-model="syspropertiesMap['IP.RULES DIRECTORY']"></div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Configuration cache</div>
            <div class="panel-body">
                <div class="form-group form-inline"><label class="control-label">Configuration cache timeout:</label> <input class="form-control" type="text" ng-model="syspropertiesMap['IP.CACHE TIMEOUT']" uib-datepicker-popup="HH:mm:ss"></div>
            </div>
        </div>

    </div>
</div>
<div class="col-md-1"><button class="btn btn-primary" ng-click="save(syspropertiesMap)">Save changes</button></div>