<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading"> Monitoring Timeout Properties</div>
            <div class="panel-body">
                <div class="form-group form-inline">
                    <label class="control-label">History timeout:</label>
                    <input ng-readonly="!main.hasPermission('SYSTEM PROPERTIES, WRITE')" class="form-control" type="text" ng-model="syspropertiesMap['ADM.MN_HISTORY_TIMEOUT']" uib-datepicker-popup="HH:mm:ss">
                </div>
                <div class="form-group form-inline">
                    <label class="control-label">User-active timeout:</label>
                    <input ng-readonly="!main.hasPermission('SYSTEM PROPERTIES, WRITE')" class="form-control" type="text" ng-model="syspropertiesMap['ADM.MN_USER_ACTIVE_TIMEOUT']" uib-datepicker-popup="HH:mm:ss">
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading"> Auditing Properties</div>
            <div class="panel-body">
                <div class="form-group form-inline">
                    <label class="control-label">Auditing Clean Interval:</label>
                    <input ng-readonly="!main.hasPermission('SYSTEM PROPERTIES, WRITE')" class="form-control" type="text" ng-model="syspropertiesMap['ADM.AUDIT_CLEAN_TIMEOUT']">
                </div>
                <div class="form-group form-inline">
                    <label class="control-label">Auditing Clean Duration:</label>
                    <input ng-readonly="!main.hasPermission('SYSTEM PROPERTIES, WRITE')" class="form-control" type="text" ng-model="syspropertiesMap['ADM.AUDIT_DURATION']">
                </div>
            </div>
        </div>
    </div>
</div>


<button class="btn btn-primary" ng-click="main.hasPermission('SYSTEM PROPERTIES, WRITE') && save(syspropertiesMap)">Save changes</button>

