<p>This is the partial for Security Management.</p>

<uib-tabset active="active">
  <uib-tab heading="Users">
    <div>

      <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#usertable" aria-expanded="true" aria-controls="usertable" ng-show="selectedUser !== null">
        Selected User is {{selectedUser.userName}}. Show others?
      </button>

      <button class="btn btn-primary" ng-click="start('first')">Show</button>
      <button class="btn btn-primary" ng-click="stop('first')">Hide</button>

      <div id="usertable">
        <table class="table table-striped table-hover table-bordered">
          <thead>
            <tr>
              <th>User Name</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>email</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="user in allUsers" ng-click="userSelected(user)" data-toggle="collapse" data-target="#usertable" aria-expanded="true" aria-controls="usertable">
              <td>{{user.userName}}</td>
              <td>{{user.firstName}}</td>
              <td>{{user.lastName}}</td>
              <td>{{user.email}}</td>
            </tr>

          </tbody>
        </table>
      </div>

      <div class="well well-lg bs-loading-container" bs-loading-overlay bs-loading-overlay-reference-id="first" bs-loading-overlay-delay="3000" bs-loading-overlay-active-class="loading-overlay--active">
        <div class="col-xs-5">

          <p>Roles assigned to User</p>

          <table class="table table-striped table-hover table-bordered">
            <thead>
              <tr>
                <th>Group Name</th>
                <th>Group Code</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="group in userGroups | filter:{assigned:true}" ng-click="assignGroupToUser(group, false)">
                <td>{{group.groupName}}</td>
                <td>{{group.groupNote}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-xs-2"></div>
        <div class="col-xs-5">

          <p>Roles not assigned to User</p>

          <table class="table table-striped table-hover table-bordered">
            <thead>
            <tr>
              <th>Group Name</th>
              <th>Group Code</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="group in userGroups | filter:{assigned:false}" ng-click="assignGroupToUser(group, true)">
              <td>{{group.groupName}}</td>
              <td>{{group.groupNote}}</td>
            </tr>
            </tbody>
          </table>
        </div>

        <div class="col-xs-11"></div>
        <div class="col-xs-1">
          <button class="btn btn-primary" ng-click="saveUserGroups(selectedUser, userGroups)">Save</button>
        </div>
      </div>
    </div>
  </uib-tab>
  <uib-tab heading="Groups">
    <div>
      <p>Here should be a list </p>

      <table class="table table-striped table-hover table-bordered">
        <thead>
        <tr>
          <th>Group Name</th>
          <th>Group Note</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="group in allGroups">
          <td>{{group.groupName}}</td>
          <td>{{group.groupNote}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </uib-tab>
  <uib-tab heading="Permissions">
    <div>
      <p>Here should be a list </p>

      <table class="table table-striped table-hover table-bordered">
        <thead>
        <tr>
          <th>Permission Name</th>
          <th>Permission Code</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="permission in allPermissions">
          <td>{{permission.permissionName}}</td>
          <td>{{permission.permissionCode}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </uib-tab>
</uib-tabset>