
    <p>This is POC for System Properties.</p>

    <uib-tabset active="active">
        <uib-tab ng-repeat="(k,v) in systemPropertiesTabs" index="$index + 1" heading="{{v.title}}">
            <div ng-controller="SyspropController" ng-init="init(v.appId)">
                <div ng-include src="'admintool/sysprop/' + v.template"></div>
            </div>
        </uib-tab>

    </uib-tabset>


    <h4>Formatting codes playground</h4>
    <p class="form-group">
        <label>Define your format</label>
        <input type="text" ng-model="format" class="form-control">
    </p>
    <p class="form-group">
        <label>Result</label>
        <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="date" />
    </p>

    <button ng-click="showDate(date)">Show Date</button>
